<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Ebrios.co - Licor a domicilio en bogotá</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--ESTILOS-->
    <link type="text/css" rel="stylesheet" href="css/estilos_movil.css">
    
</head>

<body>
    <div id="portada" class="content">
        <table align="center">
            <tr>
                <td align="center" colspan="2"><img src="img/logologin.png" width="60%" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h1 align="center">
                        <font color="#FF6600">------</font>&nbsp;&nbsp;OLVIDASTE TU CONTRASEÑA&nbsp;&nbsp;<font color="#FF6600">------</font>
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan="2"> 
                    <input type="password" class="registrofields" placeholder="CONFIRMAR CORREO ELECTRONICO">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding-top: 25px;">
                    <input type="button" class="botconfirmar" value="RESTABLECER">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
