{% load staticfiles %}
<!DOCTYPE html>
{% if flavour == "mobile" %} 
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Ebrios.co - Licor a domicilio en bogotá</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--ESTILOS-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos_movil.css' %}">
    
</head>

<body>
    <div id="portada" class="content">
        <table align="center">
            <tr>
                <td align="center" colspan="2"><img src="https://ebriostatic.s3.amazonaws.com/media/img/logologin.png" width="60%" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h1 align="center">
                        <font color="#FF6600">------</font>&nbsp;&nbsp;Se ha enviado un enlace de reestablecimiento a tu correo. Si no lo recibes asegurate de haber ingresado un email válido; y revisa tu carpeta de spam.&nbsp;&nbsp;<font color="#FF6600">------</font>
                    </h1>
                </td>
            </tr>
            <tr> 
            </tr>
            <tr>
            </tr>
        </table>
    </div>
</body>
</html>
{% else %} 
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Ebrios.co - Licor a domicilio en bogotá</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--ESTILOS-->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilos_desktop.css' %}"  />


</head>

<body class="bodylogin">
    <div id="tablelogin">
        <div id="login">
            <table>
                <tr>
                    <td align="center" colspan="2"><img src="https://ebriostatic.s3.amazonaws.com/media/img/logologin.png" width="90%"></td>
                </tr>
                <tr>
                    <td class="titulologin"><h4>SE HA ENVIADO UN ENLACE DE REESTABLECIMIENTO A TU CORREO. SI NO LO RECIBES ASEGURATE DE HABER INGRESADO UN EMAIL VÁLIDO Y REVISA TU CARPETA DE SPAM.</h4></td>
                </tr>
                <tr>
                    <td align="center">
                        <br>
                        <a href="/accounts/login/"><input class="botonguardar" value="INICIAR SESIÓN"></a>
                    </td>
                </tr>
            </table>
            <div id="redeslogin">
                <table>
                    <tr>
                        <td>
                            <a href="">
                                <div class="facebook"></div>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <div class="play"></div>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <div class="app"></div>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <div class="twitter"></div>
                            </a>
                        </td>
                    </tr>
                </table>
                <br>
                Descarga nuestra App y realiza tu pedido desde tu teléfono.
            </div>
        </div>
    </div>
    <div id="firma">PROHIBASE EL EXPENDIO DE BEBIDAS EMBRIAGANTES A MENORES DE EDAD, LEY 124 DE 1994. EL EXCESO DE ALCOHOL ES PERJUDICIAL PARA SALUD, LEY 30 DE 1986 </div>

</body>
</html>
{% endif %}