{% load staticfiles %}
<!DOCTYPE html>
{% if flavour == "mobile" %} 
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Ebrios.co - Licor a domicilio en bogotá</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--ESTILOS-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos_movil.css' %}">
    
</head>

<body>
    <div id="portada" class="content">
        <form method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            <table align="center">
                <tr>
                    <td align="center" colspan="2"><img src="https://ebriostatic.s3.amazonaws.com/media/img/logologin.png" width="60%" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h1 align="center">
                            <font color="#FF6600">------</font>&nbsp;&nbsp;OLVIDASTE TU CONTRASEÑA&nbsp;&nbsp;<font color="#FF6600">------</font>
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> 
                        <input id="id_email" maxlength="254" name="email" type="email" class="registrofields" placeholder="ESCRIBE TU CORREO ELECTRÓNICO">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="padding-top: 25px;">
                        <input type="submit" class="botconfirmar" value="RESTABLECER">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>


{% else %} 
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Ebrios.co - Licor a domicilio en bogotá</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--ESTILOS-->
    <link href="{% static 'css/estilos_desktop.css' %}" rel="stylesheet" type="text/css">

</head>

<body class="bodylogin">
    <div id="tablelogin">
        <div id="login">
            <form method="post">
            {% csrf_token %}
            {{ form.email.errors }}
                <table>
                    <tr>
                        <td align="center" colspan="2"><img src="https://ebriostatic.s3.amazonaws.com/media/img/logologin.png" width="90%"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="titulologin"><h1><font>-------</font>&nbsp;&nbsp;¿OLVIDASTE TU CONTRASEÑA? &nbsp;&nbsp;<font>-------</font></h1></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="id_email" maxlength="254" name="email" type="email" class="loginfields" placeholder="ESCRIBE TU CORREO ELECTRÓNICO">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <br />
                            <input type="submit" class="botonguardar" value="RESTABLECER">
                        </td>
                    </tr>
                </table>
            </form>
            <div id="redeslogin">
                <table>
                    <tr>
                        <td>
                            <a href="">
                                <div class="facebook"></div>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <div class="play"></div>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <div class="app"></div>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <div class="twitter"></div>
                            </a>
                        </td>
                    </tr>
                </table>
                <br>
                Descarga nuestra App y realiza tu pedido desde tu teléfono.
            </div>
        </div>
    </div>
    <div id="firma">PROHIBASE EL EXPENDIO DE BEBIDAS EMBRIAGANTES A MENORES DE EDAD, LEY 124 DE 1994. EL EXCESO DE ALCOHOL ES PERJUDICIAL PARA SALUD, LEY 30 DE 1986 </div>

</body>
</html>
{% endif %}