<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ebrios.co - Licor a domicilio en bogotá</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta name="description" content="Licor a domicilio en bogotá - Servicio 24 horas - Haz tu domicilio desde tu movil o desde nuestra web, es fácil y rápido.">

<meta name="keywords" content="licor a domicilio bogotà, licores a domicilio, domicilios de licor 24 horas, licor a domicilio, licorería bogotá, licores 24 horas,">

<link type="text/css" rel="stylesheet" href="css/estilos.css" />




		
		





</head>

<body>


<div id="portada" class="content">




<table align="center">
<tr>
<td align="center"><img src="img/logologin.png" width="60%" /></td>
</tr>
<tr>
<td><h1 align="center"><font color="#FF6600">------------------</font>&nbsp;&nbsp;TUS DATOS &nbsp;&nbsp;<font color="#FF6600">------------------</font></h1></td>
</tr>
<tr>
<td> <input type="text" class="registrofields" value="CORREO ELECTRÓNICO" /></td>
</tr>
<tr>
<td>
<input type="text" class="registrofields" value="NOMBRES" />
</td>
</tr>
<tr>
<td>
<input type="text" class="registrofields" value="APELLIDOS" />
</td>
</tr>
<tr>
<td>
<input type="password" class="registrofields" placeholder="CONTRASEÑA" />
</td>
</tr>
<tr>
<td>
<input type="password" class="registrofields" placeholder="CONFIRMAR CONTRASEÑA" />
</td>
</tr>
<tr>
<td>
<input type="text" class="registrofields" value="TELÉFONO" /></td>
</tr>
<tr>
<td>
<table align="center" width="100%">

<tr>
<td colspan="5" align="center" style="margin-top:15px;"> Ingresa tu dirección</td>
</tr>
<tr>
<td><select name="Lista"  class="registrodirfieldsselect" >
<option>-</option>
<option>CALLE</option>
<option>CARRERA</option>
<option>TRANSVERSAL</option>
<option>DIAGONAL</option>
</select></td>
<td><input type="text" class="registrodirfields" value="" /></td>
<td><select name="Lista"class="registrodirfieldsselect" >
<option>-</option>
<option>SUR</option>
<option>ESTE</option>
</select></td>
</tr>
</table>

<table align="center">
<tr>
<td>&nbsp;#&nbsp;</td>
<td><input type="text" class="registrodirfields" value="" /></td>
<td>&nbsp;-&nbsp;</td>
<td><input type="text" class="registrodirfields" value="" /></td>
<td><select name="Lista"class="registrodirfieldsselect" >
<option>-</option>
<option>SUR</option>
<option>ESTE</option>
</select></td>
</tr>

</table>

</td>
</tr>

<tr>
<td align="center" class="espaciodir"> <input class="autocompdir" type="text" placeholder="Autollenado Dirección" /></td>
</tr>
<tr>
<td colspan="2" align="center">
<input type="button" class="botconfirmar" value="GUARDAR"/></td>
</tr>

</table>









</div>



      

</body>
</html>
