<table width="50%" align="center" border="0">
   <tr>
       <td>
           <div>
               <center>
                   <img src="https://ebriostatic.s3.amazonaws.com/media/producto/logo.png" alt="" width="100%" align="middle">
               </center>
           </div>
       </td>
   </tr>
</table>
<table style="font-size:13px;font-family:Arial;width:50%;background:#f60;text-align:justify;border-radius:0px" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td valign="top">
          <table style="padding:15px;margin-bottom:30px;margin-top:20px;background:#fff;text-align:justify;border:#e7e7e7 1px solid;border-radius:3px" width="85%" align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                  <td>
                      <div style="font-size:16px;font-family:monospace;border-bottom:#e7e7e7 2px solid;">
                          Bienvenido(a) <span style="font-weight:bold">{{nombre}} {{apellido}}</span>
                      </div>

                      <div style="font-size:16px;border-top:#bcbcbc 2px solid;font-family:monospace;padding-top:25px;padding-bottom:25px;border-bottom:#e7e7e7 2px solid;">
                          Nos encanta que hagas parte de la familia <b style="font-size:17px">Ebrios.co</b>, utiliza este código de descuento en tu primera compra:
                          <br>
                          <br>
                          <b style="font-size:18px;text-decoration:underline">{{cupon}}</b>
                          <br>
                          <br>
                          Con el obtendras un <b style="font-size:17px">{{descuento}}%</b> de descuento.
                          <br>
                          <br>
                          Seguro te va a encantar, para redimir tu bono ingresa a <a href="www.ebrios.co/accounts/login/" target="_blank">www.ebrios.co</a> inicia sesión y disfruta.
                      </div>

                      <div style="font-size:13px;border-top:#bcbcbc 2px solid;font-family:Arial;padding-top:25px;padding-bottom:25px;border-bottom:#e7e7e7 2px solid;">
                          Cordialmente,
                          <br>
                          <br>
                          Nicolás Bernal
                          <br>
                          Estratega digital
                          <br> 
                          <b style="font-size:14px">EBRIOS.CO S.A.S</b>
                      </div>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
    
