<table width="50%" align="center" border="0">
   <tr>
       <td>
           <div>
               <center>
                   <img src="https://ebriostatic.s3.amazonaws.com/media/producto/logo.png" alt="" width="100%" align="middle">
               </center>
           </div>
       </td>
   </tr>
</table>
<table style="font-size:13px;font-family:Arial;width:50%;background:#f60;text-align:justify;border-radius:0px" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td valign="top">
          <table style="padding:15px;margin-bottom:30px;margin-top:20px;background:#fff;text-align:justify;border:#e7e7e7 1px solid;border-radius:3px" width="85%" align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                  <td>
                      <div style="font-size:16px;font-family:monospace;border-bottom:#e7e7e7 2px solid;">
                          BUZON SUGERENCIAS <span style="font-weight:bold"></span>
                      </div>

                      <div style="font-size:16px;border-top:#bcbcbc 2px solid;font-family:monospace;padding-top:25px;padding-bottom:25px;border-bottom:#e7e7e7 2px solid;">
                          {{categoria_comentario}}
                          <br>
                          {{cliente_id}}
                          <br>
                          {{comentario}}
                          <br>
                      </div>

                      <div style="font-size:13px;border-top:#bcbcbc 2px solid;font-family:Arial;padding-top:25px;padding-bottom:25px;border-bottom:#e7e7e7 2px solid;">
                          Cordialmente,
                          <br>
                          <br>
                          Nicolás Bernal
                          <br>
                          Estratega digital
                          <br> 
                          <b style="font-size:14px">EBRIOS.CO S.A.S</b>
                      </div>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
    

