{% load staticfiles %}
<!DOCTYPE html>
{% if flavour == "mobile" %}
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Licor a domicilio en bogotá - Ebrios.co</title>
    <meta name="description" content="Licor a domicilio en Bogotá 24 horas, NO DEJES QUE LA FIESTA TERMINE haz tu domicilio y obtén un 10% de descuento">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#F60">
    <link rel="icon" type="image/png" href="https://ebriostatic.s3.amazonaws.com/media/producto/favicon100.png">
    <!--ESTILOS-->
    <link href="{% static 'css/estilos_movil.css' %}" rel="stylesheet" type="text/css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77424835-1', 'auto');
      ga('send', 'pageview');
        
      function carritoContinuar(){
          var vieneDesdeContinuar = JSON.parse(sessionStorage['continuarCarrito']);
          if(vieneDesdeContinuar){
              sessionStorage['mostrarCarrito']=JSON.stringify(true);
          }else{
              sessionStorage['mostrarCarrito']=JSON.stringify(false);
          }
      }
    </script>
</head>

<body>
    <div id="portada">
    {% if form.errors %}
             <p class="error">Lo sentimos, la contraseña y el nombre de usuario no son validos</p> 
    {% endif %}

    <form action="" method="post">
        {%csrf_token%}
        <table align="center">
            <tr>
                <td align="center" colspan="2">
                    <img src="https://ebriostatic.s3.amazonaws.com/media/producto/logologin.png" width="60%">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h1 align="center">
                        <font color="#FF6600">------------------</font>&nbsp;&nbsp;INGRESAR&nbsp;&nbsp;<font color="#FF6600">------------------</font>
                    </h1>
                </td>
            </tr>
            <!--<tr>
                <td colspan="2" align="center">
                    <a href="{% url 'social:begin' 'facebook' %}">
                        <img class="ingredes" src="https://ebriostatic.s3.amazonaws.com/media/producto/ingresofacebook.jpg">
                    </a>
                </td>
                <td>
                    <img class="ingredes" src="https://ebriostatic.s3.amazonaws.com/media/producto/ingtw.png">
                </td>
            </tr>-->
            <tr>
                <td colspan="2"> 
                    <input id="id_username" name="username" type="text" class="registrofields" placeholder="CORREO ELECTRÓNICO">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="id_password" name="password" type="password" class="registrofields" placeholder="CONTRASEÑA">
                </td>
            </tr>
            <tr>
                <td class="logforgot">
                    <a href="{% url 'reset_password_reset1' %}">¿OLVIDASTE TU CONTRASEÑA?</a>
                </td>
                <td class="logreg">
                    <a href="/registro">REGISTRATE</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding-top: 25px;">
                    <button type="submit" class="botconfirmar" onclick="carritoContinuar()">INGRESAR</button>            
                    <input type="hidden" name="next" value="/acceder/">
                </td>
            </tr>
        </table>
    </form>


</div>

</body>
</html>

{% else %}
    

<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Licor a domicilio en bogotá - Ebrios.co</title>
    <meta name="description" content="Licor a domicilio en Bogotá 24 horas, NO DEJES QUE LA FIESTA TERMINE haz tu domicilio y obtén un 10% de descuento">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F60">
    <link rel="icon" type="image/png" href="https://ebriostatic.s3.amazonaws.com/media/producto/favicon100.png">
    <!-- Entrada de CSS-->
    <link href="{% static 'css/estilos_desktop.css' %}" rel="stylesheet" type="text/css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77424835-1', 'auto');
      ga('send', 'pageview');
        
      function carritoContinuar(){
          var vieneDesdeContinuar = JSON.parse(sessionStorage['continuarCarrito']);
          if(vieneDesdeContinuar){
              sessionStorage['mostrarCarrito']=JSON.stringify(true);
          }else{
              sessionStorage['mostrarCarrito']=JSON.stringify(false);
          }
      }
    </script>
</head>

<body class="bodylogin">

    <div id="tablelogin">

        <div id="login">
        {% if form.errors %}
             <p class="error">Lo sentimos, la contraseña y el nombre de usuario no son validos</p> 
        {% endif %}
            <form action="" method="post">
               {%csrf_token%}
                <table>
                    <tr>
                        <td align="center" colspan="2"><img src="https://ebriostatic.s3.amazonaws.com/media/img/logologin.png" width="90%"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="titulologin"><h1><font>------------------</font>&nbsp;&nbsp;INGRESA &nbsp;&nbsp;<font>------------------</font></h1></td>
                    </tr>
                    <!--<tr>
                        <td colspan="2" align="center">
                            <a href="{% url 'social:begin' 'facebook' %}">
                                <img class="ingredes" src="https://ebriostatic.s3.amazonaws.com/media/producto/ingresofacebook.jpg">
                            </a>
                        </td>
                    </tr>-->
                    <tr>
                        <td colspan="2"> 
                            <input id="id_username" type="text" class="loginfields" name="username" placeholder="CORREO ELECTRONICO">
                       </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br>
                            <input id="id_password" type="password" class="loginfields" name="password"  placeholder="CONTRASEÑA">
                       </td>
                    </tr>
                    <tr>
                        <td class="logforgot">
                            <a href="{% url 'reset_password_reset1' %}">¿OLVIDASTE TU CONTRASEÑA?</a>
                        </td>
                        <td class="logreg">
                            <a href="/registro">REGISTRATE</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <br>
                            <button type="submit" class="botonguardar" onclick="carritoContinuar()">INGRESAR</button>            
                            <input type="hidden" name="next" value="/acceder/">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div id="firma">PROHIBASE EL EXPENDIO DE BEBIDAS EMBRIAGANTES A MENORES DE EDAD, LEY 124 DE 1994. EL EXCESO DE ALCOHOL ES PERJUDICIAL PARA SALUD, LEY 30 DE 1986 </div>
</body>
</html>
{% endif %}